<div class="row mt-5">
<div class="col-md-8 card offset-2">
    <h2>All Category </h2>
    <hr>
    <table class="table table-bordered">
        <tr>
        <th>S.NO</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <% for(let i = 0; i < categorys.length; i++) { %>
        <tr>
            <td>
                <%= i + 1; %>
            </td>
            <td>
                <%= categorys[i].title; %>
            </td>
            <td>
                <%= categorys[i].description; %>
            </td>
           
            <td><button type="submit">Delete</button>
                <button type="submit">Edit</button></td>
        </tr>
        <%} %>

   

    </table>
</div>
</div>